#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
&kp TAB   &kp Q    &kp W    &kp E    &kp R    &kp T        &kp Y    &kp U    &kp I    &kp O    &kp P    &kp PLUS
&kp ESC   &kp A    &kp S    &kp D    &kp F    &kp G        &kp H    &kp J    &kp K    &kp L    &kp SEMI &kp MINUS
&kp LSHFT &kp Z    &kp X    &kp C    &kp V    &kp B        &kp N    &kp M    &kp COMMA &kp DOT &kp UP   &kp SLASH
&kp ESC   &kp LCTRL &kp LGUI &kp LALT &kp SPACE &mo 1      &kp ENTER &mo 2  &kp DQT  &kp LEFT &kp DOWN &kp RIGHT
            >;
        };

        layer_1 {

            bindings = <
&trans &kp N7 &kp N8 &kp N9 &trans &trans      &kp AT  &kp QUESTION &kp LPAR &kp RPAR &kp LT &kp GT
&trans &kp N4 &kp N5 &kp N6 &trans &trans      &trans  &kp UNDER    &kp PIPE &kp TILDE &kp PERCENT &kp DLLR
&trans &kp N1 &kp N2 &kp N3 &trans &trans      &trans  &trans       &kp EXCL &kp HASH &trans &trans
&trans &kp N0 &trans &trans &trans &kp DEL     &trans  &trans       &trans   &trans   &trans &trans
            >;
        };

        layer_2 {

            bindings = <
&trans &kp F1 &kp F2 &kp F3 &kp F4 &kp F5      &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11
&trans &trans &trans &trans &trans &trans      &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans      &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans      &trans &trans &trans &trans &trans &trans
            >;
        };

    };
};
